@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  
  --color-brand-50: #eafcf6;
  --color-brand-100: #d5f9ed;
  --color-brand-500: #00c07f;
  --color-brand-600: #00a66d;
  --color-brand-700: #008758;
}

body {
  @apply bg-[#f8f9fa] text-gray-900 font-sans transition-colors duration-200;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}

@utility glass-panel {
  @apply bg-white border border-slate-200 shadow-[0_10px_30px_rgba(0,0,0,0.04)] rounded-2xl dark:bg-slate-900 dark:border-slate-800 dark:shadow-[0_10px_30px_rgba(0,0,0,0.2)];
}
